
<div class="container mt-3">
  <h2 class="text-center">Login</h2>
  <form method="post">
  <div class="mb-3">
    <label for="name-or-email-input" class="form-label">Username or email</label>
    <input id="name-or-email-input" class="form-control" name="username-or-email"/>
    <span id="name-or-email-errors" class="text-danger"></span>
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Password: </label>
    <input id="password" class="form-control" name="password"/>
    <span id="password-errors" class="text-danger"></span>
  </div>

  <div class="mb-3">
    <button type="submit" class="btn btn-success">Login</button>
  </div>

  <div class="mb-3">
    <div id="login-errors" class="text-danger">

    </div>
  </div>
  </form>
</div>
