<div class="container mt-5">
  <h1 class="mb-4">Privacy Policy</h1>
  <p><strong>Last updated:</strong> 22.06.2024</p>

  <p>Welcome to Training Tools! We value your privacy and are committed to protecting your personal information. This Privacy Policy explains what data we collect, how we use it, and what measures we take to protect it.</p>

  <h2>1. Information We Collect</h2>
  <p>We collect the following types of data:</p>
  <ul>
    <li>Username</li>
    <li>Email</li>
    <li>Phone</li>
    <li>About</li>
  </ul>
  <p>You can enter any data in these fields, as we do not verify its accuracy. This data is used solely for user identification and authorization purposes.</p>

  <h2>2. Data Collection Methods</h2>
  <p>We collect data through forms on our website.</p>

  <h2>3. Use of Data</h2>
  <p>We use the collected data for identifying and authorizing users on our website. This data is not used for any other purposes.</p>

  <h2>4. Data Sharing</h2>
  <p>We do not share your data with third parties.</p>

  <h2>5. Data Protection</h2>
  <p>We take measures to protect your data, such as hashing passwords. However, our website is hosted on a free hosting server, and we cannot guarantee complete security of your data.</p>

  <h2>6. User Rights</h2>
  <p>You can change your data at any time. We do not verify its accuracy, so you can enter any data you deem necessary.</p>

  <h2>7. Contact Information</h2>
  <p>If you have any questions regarding our Privacy Policy, please contact us via our GitHub: <a href="https://github.com/Mak7R/TrainingTools">https://github.com/Mak7R/TrainingTools</a>.</p>

  <h2>8. Changes to the Privacy Policy</h2>
  <p>We reserve the right to update this Privacy Policy. Any changes will be posted on this page, and the last updated date will be revised accordingly.</p>
</div>
