<main>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-2">
      <a class="navbar-brand" href="">Training Tools</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto">
              <li class="nav-item">
                  <a class="nav-link" routerLink="/home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/groups">Groups</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/exercises">Exercises</a>
              </li>
              <li *ngIf="authService.getIdentity().getIsLoggedIn()" class="nav-item">
                  <a class="nav-link" asp-controller="TrainingPlans" asp-action="GetAll">Training Plans</a>
              </li>
              <li *ngIf="authService.getIdentity().getIsLoggedIn()" class="nav-item">
                <a class="nav-link" asp-controller="Users" asp-action="GetAll">Users</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/help">Help</a>
              </li>
          </ul>

          <ul class="navbar-nav">
            <div *ngIf="authService.getIdentity().getIsLoggedIn() else isNotLoggedIn">
              <li class="nav-item">
                <a class="nav-link" asp-controller="Friends" asp-action="Index">Friends</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" asp-controller="ExerciseResults" asp-action="GetUserResults">My Results</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" asp-controller="TrainingPlans" asp-action="GetUserTrainingPlans">
                  My Training Plans
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/profile">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" (click)="authService.logout()">Logout</a>
              </li>
            </div>

            <ng-template #isNotLoggedIn>
              <li class="nav-item">
                <a class="nav-link" routerLink="/login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/register">Register</a>
              </li>
            </ng-template>

            <li class="nav-item dropdown">
              <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown">
                <span>EN</span>
              </button>
              <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-start" id="lang-list-selctor">
                  <li><a class="dropdown-item" asp-controller="Home" asp-action="SetLanguage" asp-route-culture="uk-UA" asp-route-returnUrl="@Context.Request.Path">UA</a></li>
                  <li><a class="dropdown-item" asp-controller="Home" asp-action="SetLanguage" asp-route-culture="en-US" asp-route-returnUrl="@Context.Request.Path">EN</a></li>
              </ul>
            </li>
          </ul>
      </div>
  </nav>

  <div class="container-fluid p-2">
    <router-outlet></router-outlet>
  </div>
</main>



<footer class="border-top footer text-muted container">
  <div class="row">
      <p class="text-center m-3 col">&copy; 2024 - WebUI - <a routerLink="/privacy">Privacy</a></p>
  </div>
</footer>
