<div class="modal fade" id="deleteGroup-@group.Id-Modal" tabindex="-1" aria-labelledby="deleteGroup-@group.Id-ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteGroup-@group.Id-ModalLabel">Delete group group.Name</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-danger">
        This action will delete group from database and it cannot be canceled
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
        <a type="button" class="btn btn-danger" asp-controller="Groups" asp-action="Delete" asp-route-groupId="@group.Id">Delete</a>
      </div>
    </div>
  </div>
</div>
